body {
  font-family: Palatino;
  background-image: url("../images/vantage car");
}

.box {
  display: flex;
  flex-flow: row wrap;
  background: #ddeaff;
  border: 2px solid #20437c;
}

#get-new-item-form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}
label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

#input-display {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  page-break-inside: auto;
  background: #ddeaff;
  border: 2px solid #20437c;
}

.form-input {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 2px solid #20437c;
  border-radius: 5%;
  background: #ddeaff;
}
